#---------------------------------------------------------------------

# Global settings

#---------------------------------------------------------------------

global

    log         127.0.0.1 local2
    chroot	/var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group	haproxy
    daemon
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout queue           45s
    timeout connect         5s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------

# main frontend which proxys to the backends

#---------------------------------------------------------------------

frontend  cluster_entry *:3306

    bind *:3306
    default_backend             galera


backend galera

    balance     source
    mode tcp
    option tcpka
    option mysql-check user haproxy
    server  db01 mariadb01:3306 maxconn 151 check
    server  db02 mariadb02:3306 maxconn 151 check
    server  db03 mariadb03:3306 maxconn 151 check

listen  stats   *:1936
        mode            http
        log             global

        maxconn 10

        clitimeout	100s
        srvtimeout	100s
        contimeout	100s
        timeout queue   100s

        stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats auth admin:password
        stats uri  /haproxy?stats

